
@model IEnumerable<FXSupplierPortal.CONTRACT>

@{
    ViewBag.Title = "Purchase Order";
    Layout = null;
    WebGrid webGrid = new WebGrid(source: Model, canPage: false, selectionFieldName: "CONTRACTNUM", canSort: false);
}
<script src="~/Scripts/jquery.dataTables.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
@Styles.Render("~/Content/webgridstyle.css")
@Scripts.Render("~/bundles/jqueryui")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <p>Select Contract from the list</p>
    <script>

        $(document).ready(function () {

            $("#contractWebGrid").dataTable().fnDestroy();
            $("#contractWebGrid thead").find("tr:gt(0)").remove();
            $('#contractWebGrid thead tr').clone(true).appendTo('#contractWebGrid thead');

            $('#contractWebGrid thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (i == 0) {
                    $(this).html('<input type="text" style="display:none; width:100%; font-size:11px;" placeholder=" ' + title + '" />');
                    $(this).removeClass('sorting_asc');
                }
                else {
                    $(this).html('<input type="text" style="width:100%; font-size:11px;" placeholder=" ' + title + '" />');
                }
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table.column(i).search(this.value).draw();
                    }
                });
            });
            
            var table = $('#contractWebGrid').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                search: false
            });
        });

        setTimeout(function () {
            $("#contractsWebGridDiv").show();
        }, 50);

        function setSupplier(contractRefNum, originalContractreeNum) {
            $("#po_CONTRACTREFNUM").val(contractRefNum);
            $("#po_ORIGINALCONTRACTNUM").val(originalContractreeNum);
            $("#GetContractRef").dialog('close');
        }
    </script>

</head>
<body>
    <div id="contractsWebGridDiv" style="display:none">
        <form id="myForm">
            <div id='GetContractRef'>
                @webGrid.GetHtml(
               htmlAttributes: new { @id = "contractWebGrid" },
               tableStyle: "webgrid-table",
               headerStyle: "webgrid-header",
               footerStyle: "webgrid-footer",
               alternatingRowStyle: "webgrid-alternating-row",
               selectedRowStyle: "webgrid-selected-row",
               rowStyle: "webgrid-row-style",
               mode: WebGridPagerModes.All,
               columns: webGrid.Columns(
                    webGrid.Column("Select", "Select", format: @<text><a href="#" onclick="setSupplier('@item.CONTRACTNUM','@item.ORIGINALCONTRACTNUM');" + style="color: blue;text-decoration: underline;">Select</a></text>),
                            webGrid.Column("CONTRACTNUM", "ID"),
                            webGrid.Column("CONTRACTTYPE", "Contract Type"),
                            webGrid.Column("ORIGINALCONTRACTNUM", "Original Contract#"),
                            webGrid.Column("ORGNAME", "Division"),
                            webGrid.Column("PROJECTNAME", "Project Name"),
                            webGrid.Column("VENDORNAME", "Vendor Name"),
                            webGrid.Column("STARTDATE", "Start Date")
                            ))
            </div>

        </form>
        </div>
</body>



</html>




